* {
  box-sizing: border-box;
}
a {
  color: azure
}
body {
  margin: 0;
}
.Projects {
  display: flex;
  box-sizing: border-box;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100%;

}
.carousel {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background: white;
}
.slide-title {
  display: flex;
  justify-content: center;
  color: black;
}
.gif {
  height: 300px;
}
#resize {
  width: 90%
}
.project-slides {
 width: 50%;
}
.main-project-slides {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 1s;
  z-index: -1;
}
.slides {
  position: relative;
  width: 50%;
  height: 50%;
  transition: 1s;
}
.slides:hover {
  opacity: 0.5;
}
.main-project-slides:hover {
  cursor: pointer;
  
}
.main-project-slides:hover > .description-holder {
visibility: visible;



}
.description-holder {
visibility: hidden;
z-index: 1000;
}
.description-holder:hover > .slides:hover {
  background-color: rgba(255,0,0,0.6);
}
.slide-description {
  padding: 10px;
  color: black
}
.button-holder {
  display: flex;
  justify-content: center
}
.slide-buttons {
  text-decoration: none;
  background: #ff5039 ;
  color: white;
  cursor: pointer;
  padding: 1%;
  margin-right: 1%;
  margin-left: 1%;
  border: none;
  border-radius: 5px;
  font-size: 20px;
}

.Title {
  font-size: 2rem;
  color: white;
  margin-top: 5%;
  margin-left: 3%;
  text-align: left;
}

/* Responsive layout - makes a two column-layout instead of four columns */
/* @media screen and (max-width: 1037px) {
  
  .slides {
    width: 250px;
    height: 250px;
  }
} */

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 1330px) {
  .main-project-slides {
    flex-direction: column
  }
  .slides {
    max-width: 400px;
  }
}
@media screen and (max-width: 785px) {
  .gifs {
    width: 100%;
    height: auto;
  }
  .carousel {
    flex-wrap: nowrap;
    flex-direction: column
  }
  .project-slides {
    width: 100%;
    margin-bottom: 5%;
  }
  .slide-description {
  }
  .swipe {
    display: initial
  }
  .drag {
    display: none
  }
  .gif {
    display: none
  }
}
@media screen and (max-width: 602px) {
  .Title {
    font-size: 220%
  }
  
  .slides {
    height: auto;
    width: 100%;
  }
}
