* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial;
}
.Projects {
  background-color: blanchedalmond;
  border-radius: 15%;
  padding-bottom: 10%;
}
.Title {
  font-size: 5rem;
  font-family: 'Wire One', sans-serif;
  color: whitesmoke;
  margin-left: 2%;
  text-align: center;
}
.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
  max-width: 25%;
  max-height: auto;
  padding: 0;
}

.column img {
  vertical-align: middle;
}
img {
  max-height: 400px;
}
.flip-card {
  background-color: transparent;
  height: 400px;
  perspective: 1000px;
  margin-bottom: 2%;
  box-shadow: black 4xp 4px 6px 4px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color:transparent;
  color: black;
}

.flip-card-back {
  background-color: transparent;
  color: white;
  transform: rotateY(180deg);
}

.mobile {
  display: none;
}
/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 1625px) {
  .Projects {
    border-radius: 2%;
  }
  .column {
      -ms-flex: 33%;
      flex: 33%;
      max-width: 33%;
  }
  .flip-card {
    max-width: 500px;
  }
  img .flip-card-front .flip-card-back .flip-card-inner {
    margin-bottom: 2%;
    max-height: 300px;
    width: auto;
  }
  .flip-card-inner {
    box-shadow: none;
  }
}
@media screen and (max-width: 1237px) {
  .Projects {
    border-radius: 0;
  }
  .column {
      -ms-flex: 50%;
      flex: 50%;
      max-width: 50%;
  }
  .flip-card {
    margin-bottom: 0;
    max-height: 380.5px;
    width: auto;
    margin-bottom: 2%;
  }
  img {
    max-height: 380.5px;
    width: auto;
  }
  .web {
    display: none;
    visibility: hidden;
  }
  .mobile {
    display: initial;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 785px) {
  .column {
      -ms-flex: 75%;
      flex: 75%;
      max-width: 75%;
  }
  .flip-card .flip-card-front .flip-card-inner .flip-card-inner {
    margin-bottom: 2%;
    max-height: 380px;
    width: auto;
  }
  img {
    max-height: 380px;
    width: auto;
  }
}