html {
  height: 100%;
}
body {
  height: 100%;
   /* background: #ffde59; */
}
h1 {
  color: black;
  font-size: 50px;
  line-height: 0.5em;
  letter-spacing: 0.2em;
}
h2 {
  font-size: 40px;
  color: white;
}
h4 {
  color: black
}

  
.container {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}
  
.header {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  margin: 5%;
}

.intro-text {
display: flex;
flex-wrap: wrap;
flex-direction: column;
text-align: left;
  /* margin: 15% 0 0 5%; */
}
.button {
  margin-top: 20%;
  padding: 1% 5% 1% 5%;
  border-radius: 25px;
  color: white;
  font-size: large;
  background: #ff5039;
  width: fit-content;
  transition: 1s;
}
.button:hover {
  background: #d8432f;
  color: rgb(224, 224, 224);
  cursor: pointer;
}
.intro-picture {
  width: 50%;
  transition: 1s;
}
@keyframes float {
	0% {
		
		transform: translatey(0px);
	}
	50% {
		
		transform: translatey(-20px);
	}
	100% {
		
		transform: translatey(0px);
	}
}

#dev-intro {
  width: 100%;
  height: 100%;
  display: none;
  border-radius: 50%;
  filter: drop-shadow(8px 8px 10px rgb(59, 59, 33));
  animation: float 6s ease-in-out infinite;
}
#dev-suite {
  width: 100%;
  height: 100%;
  border-radius: 45%;
  filter: drop-shadow(8px 8px 10px rgb(59, 59, 33));
  animation: float 6s ease-in-out infinite;
}

#diagonal-start {
  /* -webkit-clip-path: polygon(0 55%, 100% 0%, 100% 100%, 0% 100%); */
  clip-path: polygon(0 100%, 100% 0%, 100% 100%, 0% 100%);
  width:100%;
  height:200px;
  background-color:white;
  transform: translateY(0.5px);
  z-index: 100;
}
.mid {
  height: 100%;
  width: 100%;
  background: white;
  z-index: 100;
}
#diagonal-end {
  clip-path: polygon(0 0, 100% 0%, 0 100%, 0% 100%);
  width:100%;
  height:200px;
  background-color:white;
  z-index: 100;
}
.icons {
  width: 30px;
  height: auto;
  margin: 10px;
  transition: transform 0.2s;
}
.icons:hover {
  transform: scale(1.2);
}
.icons:active {
  transform: scale(0.8);
}
  /* animation:fading 5s
}
  @keyframes fading {
    0% {
      opacity:0
    }
    50% {
      opacity:1
    }
    100% {
      opacity:1
    }
  } */

.Header-Image {
  background-size: cover;
  background-origin: content-box;
  width: 100%;
  position: relative;
}
#title {
  animation-timing-function: ease-in;
}
  /* animation:fading 10s
}
  @keyframes fading {
    0% {
      opacity:0
    }
    50% {
      opacity:1
    }
    100% {
      opacity:1
    }
  } */
  /* @media  */
@media only screen and (max-width: 866px) {
  h1 {
    font-size: large;
  }
  h2 {
    font-size: x-large;
  }
  br {
    display: none;
  }
  #dev-intro {
    display: flex;
  }
  #dev-suite {
    display: none;
  }
  .header {
    flex-direction: column-reverse;
  }
  #name {
    letter-spacing: initial;
    line-height: initial;
  }
  #title {
    margin-top: 0;
  }
  .intro-text {
    text-align: left;
  }
  .button {
    width: auto;
    margin-top: 3%;
    text-align: center;
  }
  .logo {
		height: 22px;
		width: auto
	}
}

