html {
  height: 100%;
}
body {
  height: 100%;
  background: url('https://media.giphy.com/media/k3ysZGh2m617q/giphy.gif') top no-repeat;
  background-position: cover;
  background-attachment: fixed;
  /* background: rgb(30,87,153);
background: -moz-linear-gradient(top, rgba(30,87,153,1) 0%, rgba(41,137,216,1) 50%, rgba(32,124,202,1) 51%, rgba(125,185,232,1) 100%);
background: -webkit-linear-gradient(top, rgba(30,87,153,1) 0%,rgba(41,137,216,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%);
background: linear-gradient(to bottom, rgba(30,87,153,1) 0%,rgba(41,137,216,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=0 ); */
}

  /* @keyframes fading {
    0% {
      opacity:0
    }
    50% {
      opacity:1
    }
    100% {
      opacity:1
    }
  } */
.Header {
  position: initial;
  width: 100%;
  height: fit-content;
  animation: slide 5s
}
@keyframes slide{
  from {left: 0px;}
  to {left: 300px;}
}
  /* animation:fading 5s
}
  @keyframes fading {
    0% {
      opacity:0
    }
    50% {
      opacity:1
    }
    100% {
      opacity:1
    }
  } */

.Header-Image {
  background-size: cover;
  background-origin: content-box;
  width: 100%;
  position: relative;
}
#title {
  animation-timing-function: ease-in;
}
  /* animation:fading 10s
}
  @keyframes fading {
    0% {
      opacity:0
    }
    50% {
      opacity:1
    }
    100% {
      opacity:1
    }
  } */
  .Mobile-Image {
    display: none
  }
  /* @media  */
@media only screen and (max-width: 866px) {
  body {
    background-color: #2E3A3F;
  }
  .Header {
    background: none;
  }
  #title {
    display: none
  }
  .Mobile-Image {
    display: flex;
    width: 100%;
  }
}

