.Contact {
  width: 100%;
  box-sizing: border-box;
  padding-bottom: 10%;
  padding-top: 2%;
}
form {
  background: #55a4a5;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2%;
}
input:invalid {
  border-color: red;
}
.submit {
  padding: 1%;
  background-color: green;
  border-radius: 10%;
  color: black;
  font-size: 15px;
}
.socialIcons {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 2%;
}
.icons {
  width: 50px;
  height: auto;
  margin: 10px;
  transition: transform .2s;
}
.icons:hover {
  transform: scale(1.2);
}
@media screen and (max-width: 1237px) {
  .Contact {
    border-radius: 0;
  }
}
@media screen and (max-width: 500px) {
  .tab-container {
    padding: 2%;
  }
}