a:link {
	text-decoration: none;
	color: azure;
}
a:hover a:visited a:active {
	color: crimson;
}

.header-main {
	text-align: center;
	background: transparent;
	width: 100%;
}
.icon {
	height: 1rem;
	width: 5rem;
}
.logo-holder {
	float: left;
	margin-left: 5%;
}
.logo {
	height: 4rem;
	width: 20rem;
	margin: 0;
	transition: transform .2s;
	filter: drop-shadow(black 2px 2px 2px);
}
.logo:hover {
  transform: scale(1.2);
}
.logo:active {
  transform: scale(0.8);
}
.main-nav {
	float: right;
	margin-right: 5%;
}
.logo-holder a,
.main-nav a {
	padding: 25px 15px;
	text-align: center;
	display: inline-block;
}
/*------Navigation------------------------------------------------*/
li {
	color: whitesmoke;
	filter: drop-shadow(black 2px 2px 2px);

}
b {
	color: whitesmoke
}
b:hover {
	color: black
}
li:hover {
	color: black
}
ul li {
	color: whitesmoke;
	width: 100%;
}
ul {
	margin: 0;
  padding: 0;
  list-style: none;
}

/*-----------Footer---------------*/
.footer-main {
  display: flex;
	padding: 2%;
	width: 100%;
  text-align: center;
  flex-direction: row;
	justify-content: center;
	align-items: flex-end;
  background: -moz-linear-gradient(
    top,
    #136483 0%,
    rgba(125, 185, 232, 0) 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    top,
    #136483 0%,
    rgba(125, 185, 232, 0) 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to bottom,
    #136483 0%,
    rgba(125, 185, 232, 0) 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#007db9e8',GradientType=0 );
}

/*-----------------------------Tabbar--------------------------------*/
#tabbar {
  display: none;
}
.tabs {
  display: flex;
  flex-direction: column
}
.undertext {
  margin: 0%
}
.header {
	padding-left: 0;
	padding-bottom: 5px;
	padding-top: 5px;
	margin: 0;
}
.links  {
  font-size: 15px;
  transition: 1s
}
.tabicons {
  height: 35px;
  width: auto;
  margin: 0%;
  padding: 0%
}

/*---------Media---------*/
/* Medium screens */
@media all and (max-width: 1350px) {
  .header-main {
    /* When on medium sized screens, we center it by evenly distributing empty space around items */
    justify-content: space-around;
	}
	.logo-holder,
	.main-nav {
		margin: 0%;
		float: none
	}
}

/* Small screens */
@media all and (max-width: 740px) {
  .header-main {
	 display: none;
	}
	/* Tabbar */
	#tabbar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background: black;
    position: fixed;
		bottom: 0;
		z-index: 4;
	}
	.main-nav {
		display: flex;
		flex-direction: column;
		text-align: center;
		width: 100%;
		padding: 2%;
	}
	h2 {
		font-size: 100%
	}
	.logo {
		height: 40px;
		width: auto
	}
	.logo-holder {
		margin: 8%;
		float: right;
	}
	.nav {
		display: none
	}
	.bm-menu-wrap, .bm-burger-button, .bm-burger-bars {
		display: flex
	}
}
@media all and (max-width: 400px) {
	.logo {
		height: 35px;
		width: auto
	}
	.logo-holder {
		margin: 8%;
		margin-bottom: 5%;
		float: right;
	}
}