a:link {
	text-decoration: none;
	color: azure;
}
a:hover a:visited a:active {
	color: crimson;
}

.header-main {
	text-align: center;
	background: transparent;
	width: 100%;
}
.icon {
	height: 1rem;
	width: 5rem;
}
.logo-holder {
	float: left;
	margin-left: 5%;
}
.logo {
	height: 4rem;
	width: 20rem;
	margin: 0;
	transition: transform .2s;
}
.logo:hover {
  transform: scale(1.2);
}
.logo:active {
  transform: scale(0.8);
}
.main-nav {
	float: right;
	margin-right: 5%;
}
.logo-holder a,
.main-nav a {
	padding: 10px 15px;
	text-align: center;
	display: inline-block;
}
/*------Navigation------------------------------------------------*/
li:hover {
	color: white;
}
ul li {
	color: rgb(233, 233, 233);
	width: 100%;
}
ul {
	margin: 0;
  padding: 0;
  list-style: none;
}
/* .nav {
	margin-right: 5%;
	position: relative;
} */
/*-----------Footer---------------*/
.footer-main {
	position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
	flex-wrap: wrap;
	justify-content: space-evenly;
	background: transparent;
}
/*---------Media---------*/
/* Medium screens */
@media all and (max-width: 974px) {
  .header-main {
    /* When on medium sized screens, we center it by evenly distributing empty space around items */
    justify-content: space-around;
	}
	.logo-holder,
	.main-nav {
		margin: 0%;
		float: none
	}
}

/* Small screens */
@media all and (max-width: 500px) {
  .header-main {
    /* On small screens, we are no longer using row direction but column */
		flex-direction: column;
		text-align: center;
	}
	li {
		display: flex;
		text-align: center;
		border: solid white 2px;
		width: 100%;
		padding: 2%;
	}
	.logo-holder {
		margin: 0%;
	}
	.nav {
		width: 100%;
	}
}