.Blog {
  width: 100%;
  box-sizing: border-box;
  background-color: transparent;
  padding-bottom: 10%;
  padding-top: 2%;
  text-align: center;
}
.blog-title {
  color: #000000;
}
.container {
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 4px;
}
.Entries {
  width: 50%;
  box-sizing: border-box;
  background: url('https://ubisafe.org/images/book-vector-old-1.png') top no-repeat;
  background-size: cover;
  padding-bottom: 1%;
  padding-top: 2%;
  margin: 2%;
  text-align: left;
  box-shadow: #000000 4px 4px 6px 4px;
}
.span {
  margin: 10%;
}
.icon {
  height: 20px;
  width: auto;
  float: right;
  transition: transform .2s;
}
.icon:hover {
  transform: scale(1.2);
}
/* MEDIA */
/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 785px) {
  .Entries {
    width: 100%;
    box-shadow: 0 0 0 0;
  }
}