.Blog {
  display: flex;
  box-sizing: border-box;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
.blog-title a{
  color: whitesmoke;
}
.blog-text {
  color: #000000
}
.container {
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 4px;
}
.Entries {
  width: 80%;
  box-sizing: border-box;
  background: -moz-linear-gradient(top, rgba(30,87,153,1) 0%, rgba(30,87,153,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(30,87,153,1) 0%,rgba(30,87,153,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(30,87,153,1) 0%,rgba(30,87,153,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#007db9e8',GradientType=0 );
  padding-bottom: 1%;
  padding-top: 2%;
  margin: 2%;
  text-align: left;
  box-shadow: #000000 4px 4px 6px 4px;
}
.span {
  margin: 10%;
}
.icon {
  height: 20px;
  width: auto;
  float: right;
  transition: transform .2s;
}
.icon:hover {
  transform: scale(1.2);
}
/* MEDIA */
/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 785px) {
  .Entries {
    width: 100%;
    box-shadow: 0 0 0 0;
  }
}