@import url('https://fonts.googleapis.com/css?family=Wire+One');


body {
  background: whitesmoke;
  background-size: cover;
}
.App {
  text-align: center;
  margin: 5%;
  box-shadow: 10px 20px 20px 20px black;
  animation: mymove 5s infinite;
}
.Header {
  position: initial;
  background: url("./img/xObqCPy.gif") no-repeat top center;
  background-size: cover;
  background-origin: content-box;
  width: 100%;
  min-height: 30rem;
}
.Header-Image {
  display: flex;
  align-items: center;
  text-align: center;
  width: 100%;
  position: relative;
  left: 0%;
	/* margin: 7em -244px; */
	animation: slide 2s 1
}
@keyframes slide {
	from { left: -150%; }
	to { left: 0%; }
}
.AboutMe {
  position: relative;
  background: url("./img/about_me.png") no-repeat top;
  background-size: cover;
  width: 100%;
  min-height: 30rem;
}
.Title {
  font-size: 10rem;
  float: left;
  font-family: 'Wire One', sans-serif;
  color: whitesmoke;
  margin-left: 2%;
}
/* @media  */
.Projects {
  position: relative;
  background: url("./img/pink_background.png") no-repeat top;
  background-size: cover;
  width: 100%;
  min-height: 30rem;
}
