
body {
  background-size: cover;
  width: 100%;
}
h1 {
  color: white;
  font-size: 300%;
  filter: drop-shadow(black 6px 6px 10px);
}
h3 {
  color: black;
  line-height: 1.6;
  letter-spacing: 0.1em;
  opacity: 1;
}
.AboutMe {
  width: 100%;
  box-sizing: border-box;
  background-color: transparent;
  padding-bottom: 10%;
  padding-top: 2%;
}
body, html {
  height: 100%;
  margin: 0;
  font-family: Arial;
}

/* Style tab links */
.tab-container {
  background: #55a4a5;
  width: 100%;
  padding-bottom: 2%;
  box-sizing: border-box;
}
.tablist {
  width: 100%;
  cursor: pointer;
}
.tab {
  background: #55a4a5;
  width: 100%;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  padding-top: 2%;
  padding-left: 5%;
  padding-right: 5%;
}
.tab:active {
  color: rgb(110, 110, 63);
}
.art-img {
  height: 300px;
  width: auto;
  transition: transform .2s;
}
.art-img:hover {
  transform: scale(1.2);
}
.resume {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 1237px) {
  .AboutMe {
    border-radius: 0;
  }
}
@media screen and (max-width: 500px) {
  .tab-container {
    padding: 2%;
  }
  .art-img {
    width: 100%;
    height: auto;
  }
  .tab {
    border: solid black 2px;
    width: 100%;
    padding: 2%;
    border-radius: 0%;
  }
  h4 {
    text-align: left;
    width: 100%;
  }
  .resume {
    width: 100%;
    height: auto;
  }
  .react-pdf_Page_canvas {
    width: 20%;
    height: auto;
  }
}