/* Page Settings */
body {
  background-size: cover;
  width: 100%;
}

.AboutMe {
  display: flex;
  box-sizing: border-box;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
}
body,
html {
  height: 100%;
  margin: 0;
}
/* IDs */
#left {
  justify-content: flex-start;
}
/* Style tab links */
.tab-container {
 
  width: 100%;
  box-sizing: border-box;
}
.tablist {
  width: 100%;
  cursor: pointer;
  float: left
}
.tab {
  display: inline;
  padding-left: 5%;
  padding-right: 5%;
  color: azure;
}
.tab:active {
  color: rgb(58, 58, 58);
  
}
/* Image Settings */
.art-img {
  height: 300px;
  width: 300px;
  transition: transform 0.2s;
}
.art-img:hover {
  transform: scale(1.2);
}
.sports-img {
  height: auto;
  width: 100%;
}
.teams-img {
  height: 100px;
  transition: transform 0.2s;
}
.teams-img:hover {
  transform: scale(1.2);
}
.exp-img {
  height: 100px;
}
/* Art Page */


.inner-art-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  
  width: 100%;
}
.top-inner-art {
  display: flex;
  padding: 20px;
  border-radius: 15px;
  justify-content: flex-start;
  flex-direction: column;
  width: 100%;
  /* filter: drop-shadow(20px 10px 4px rgb(80, 73, 63)); */
}
/* .artBio {
  display: 
} */
/* Music Page */
.music {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
}
.inner-music {
  display: flex;
  margin-top: 5%;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
}
.inner-music-container {
  width: 50%;
}
.main-inner-music {
  padding: 2%;
  border-radius: 15px;
  justify-content: flex-start;
  width: 100%;
  /* filter: drop-shadow(20px 10px 4px rgb(80, 73, 63)); */
}
.side-inner-music {
  padding: 2%;
  border-radius: 15px;
  flex-direction: column;
  width: 30%;
  /* filter: drop-shadow(20px 10px 4px rgb(80, 73, 63)); */
}
/* Sports Page */
.sports {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
}
.inner-sports {
  display: flex;
  margin-top: 5%;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
}
.inner-sports-container {
  justify-content: space-evenly;
  width: 50%;
}
.main-inner-sports {
  padding: 2%;
  border-radius: 15px;
  justify-content: flex-start;
  width: 100%;
  /* filter: drop-shadow(20px 10px 4px rgb(80, 73, 63)); */
}
.bottom-inner-sports {
  padding: 2%;
  border-radius: 15px;
  justify-content: flex-start;
  width: 100%;
  /* filter: drop-shadow(20px 10px 4px rgb(80, 73, 63)); */
}
.side-inner-sports {
  padding: 2%;
  border-radius: 15px;
  flex-direction: column;
  width: 30%;
  /* filter: drop-shadow(20px 10px 4px rgb(80, 73, 63)); */
}
.quote {
  margin-top: 20%;
}
/* Resume Page */

#resname {
  padding-top: 2%;
}
.top-inner-resume {
  border-radius: 15px;
  justify-content: flex-start;
  width: 100%;
  /* filter: drop-shadow(20px 10px 4px rgb(80, 73, 63)); */
}
.inner-resume-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.skillsImg {
  width: 50%;
  height: auto;
  transition: transform 0.2s;
}
.skillsImg:hover {
  transform: scale(1.2);
}
.left-inner-resume {
  padding: 2%;
  border-radius: 15px;
  justify-content: flex-start;
  width: 30%;
  /* filter: drop-shadow(20px 10px 4px rgb(80, 73, 63)); */
}
.middle-inner-resume {
  padding: 2%;
  border-radius: 15px;
  justify-content: flex-start;
  width: 30%;
  /* filter: drop-shadow(20px 10px 4px rgb(80, 73, 63)); */
}
.right-inner-resume {
  padding: 2%;
  border-radius: 15px;
  justify-content: flex-start;
  width: 30%;
  /* filter: drop-shadow(20px 10px 4px rgb(80, 73, 63)); */
}
/* Skills Bar */

.avatar {
  height: auto;
  width: 200px;
  border-radius: 100%;
  justify-content: flex-start;
}
p {
  color: white;
  text-align: left;
  padding: 2%;
  filter: drop-shadow(black 2px 2px 2px);
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 1680px) {
  .art-img {
    height: 200px;
    width: 20%;
  }
}
@media screen and (max-width: 870px) {
  h1 {
    font-size: 25px
  }
  #resname {
    padding-top: 5%;
  }
  .tab-container {
    padding: 2%;
  }
  .art-img {
    width: 100%;
    height: auto;
  }
  .art-img:hover {
    transform: none
  }
  .tab {
    width: 100%;
    padding-left: 5%;
    padding-bottom: 2%;
    margin-bottom: 2%;
    border-radius: 0%;
  }
  /* .tablist {
    padding: 5%;
  } */
  p {
    text-align: left;
    width: 100%;
  }
  .resume {
    width: 100%;
    height: auto;
  }
  .top-inner-art,
  .bottom-inner-art,
  .inner-resume-container {
    flex-direction: column;
  }
  .inner-music-container,
  .main-inner-music,
  .side-inner-music,
  .inner-sports-container,
  .main-inner-sports,
  .side-inner-sports,
  .top-inner-resume,
  .inner-resume,
  .inner-resume-container,
  .left-inner-resume,
  .middle-inner-resume,
  .right-inner-resume {
    width: 100%;
  }
}
@media screen and (max-width: 400px) {
  p {
    font-size: 80%;
    padding: 5%
  }
}